<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">

    <head th:replace="plantilla/template::head"></head>
    <body>
        <header th:replace="plantilla/template::header"></header>
        <h1 th:text="${titulo}"></h1>
        <h1 th:text="#{cliente.nombre}"></h1>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido 1</th>
                    <th scope="col">Apellido 2</th>
                    <th scope="col">Email</th>
                    <th scope="col">Telefono</th>
                    <th scope="col">Pais</th>
                    <th scope="col">Editar</th>
                    <th scope="col">Eliminar</th>
                </tr>
            </thead>
            <tbody>
            <th:block th:each="user : ${personas}">
                <tr>
                    <td th:text="${user.getNombre}"></td>
                    <td th:text="${user.getApellido1}"></td>
                    <td th:text="${user.getApellido2}"></td>
                    <td th:text="${user.getEmail}"></td>
                    <td th:text="${user.getTelefono}"></td>
                    <td th:text="${user.getPais.getPais}"></td><!-- revisa la clase y el metodo -->
                    <td>
                        <a th:href="@{/editPersona/{id}(id=${user.getId})}">Edit</a>
                    </td>
                    <td>
                        <a th:href="@{/delete/{id}(id=${user.getId})}">Delete</a>
                    </td>
                </tr>
            </th:block>
        </tbody>
    </table>
</body>
<footer th:replace="plantilla/template::footer"></footer>
</html>
